@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* Criando regras usando o fluxo de trabalho do MOBILE FIRST- 320px 

OBS: As regras aqui criadas também servirão para a o site como um todo, ou seja, independente do tamanho da minha tela.*/

/* Regras gerais */

body{
    font-family: 'Ubuntu', sans-serif;
    background-image: url(../midia/img/hypnotize.png);
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    width: 100%;
}

h1, h2, h3, h4, p, figure{
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
}

/* Regras Header */

.topo{
    background-color: rgba(24,56, 29, 0.9);
    border-bottom: 1px solid;
    text-align: center;
    margin-bottom: 15px;
}

h1 img{
    margin-top: 25px;
    width: 200px;
}

nav{
    min-height: 40px;
    display: none;
    text-transform: uppercase;
    font-weight: bold;
    overflow: hidden;
    line-height: 40px;
    padding-left: 1%;
}

nav a:link, nav a:visited, #iconMenu:link, #iconMenu:visited{
    text-decoration: none;
    color: white;
    transition: background-color 1s;
    min-height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a:hover, nav a:focus, #iconMenu:hover, #iconMenu:focus{
    background-color: #A98E12;
    color: #000;
    transition: background-color 1s;
    border-radius: 5px;
}

#iconMenu{
    color:white;
    cursor: pointer;
    min-height: 40px;
    display: block;
    overflow: hidden;
    line-height: 40px;
    padding-left: 1%;
    font-size: 40px;
}

/* Rodapé / Footer */

.rodape{
    border-top: 5px solid #00632E;
    background-color: #000;
    color: white;
    text-align: center;
    width: 100%;
}

.rodape li,p{
    font-size: 16px;
}

.rodape img{
    margin: 0 5px;
}

.rodape-conteudo{
    padding: 15px;
    color: white;
}

.rodape-conteudo ul{
    list-style-type: none;
    margin: 0 auto;
    padding: 10px 0;
}

#logo-rodape{
    min-width: 146px;
    width: 150px;
    margin: 0 auto;
}

.menu-rodape a{
    text-decoration: none;
    color: #7F7F80;
}

.menu-rodape a:hover{
    color: white;
}

.redes img{
    min-width: 35px;
    width: 50px;
}

/* .redes ul{
    display: flex;
    text-align: center;
}

.redes li{
    width: 15%;
    padding: 3%;
} */

.assinatura{
    color: white;
    background-color: #7F7F80;
    text-align: center;
    height: auto;
    padding: 1%;
}

.assinatura p{
    margin: 1% 0;
}

/* Regras para conteúdo */

#conteudo{
    max-width: 95%;
    margin: auto;
}

#conteudo article{
    background-color: white;
    margin: 15px 0  ;
    padding: 1%;
    box-sizing: grey 1px 1px 5px;
}

#conteudo h2, #conteudo h3, #conteudo p{
    padding: 1%;
}

.titulo{
    font-size: 1.4em;
    color: #ED6D19;
    text-align: center;
    text-transform: uppercase;
}

.destaque img{
    border-bottom: 5px dotted #ED6D19;
    /* height: 200px; */
}

.text-destaque{
    position: relative;
    background-color: rgba(255, 255, 255, 0.5);
    height: 70px;
    bottom: 100px;
    margin-top: 5px;
    width: 100%;
}

.text-destaque h2{
    color: #000 !important;
    /* Friza o efeito aplicado, cancelando todos os outros. */
    margin-top: 5px;
    padding: 5px 0 3px 30px;
}

.text-destaque p{
    margin-top: 5px;
    font-size: 1.1em;
    padding: 0 0 5px 30px;
}

#frase{
    color: #fff;
    background-color: #ED6D19;
    text-align: center;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* height: 80px; */
}

#frase p{
    font-size: 1em;
    padding: 12px;
}

.card{
    margin: 15px 0;
    padding: 5%;
}

.card p{
    text-align: center;
    padding: 1% 0 2% 0;
}

.card-conteudo figure{
    margin: 1%;
    position: relative;
    box-shadow: gray 1px 1px 5px;
}

.card-conteudo figcaption{
    position: absolute;
    left: 0;
    bottom: 20px;
    width: 100%;
    background-color: rgba(48, 48, 48, 0.63);
    color: white;
    padding: 10px 0;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

.card-conteudo figure img{
    transition: 1s;
    filter: opacity(1);
}
.card-conteudo a:hover img, .card-conteudo a:focus img{
    filter: opacity(0.6);
}

#video{
    width: 100%;
    background-color: rgba(6,99, 46, 0.);
    text-align: center;
}

iframe{
    margin: auto;
    max-width: 80%;
    display: block;
    padding: 2% 0mm;
}